{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center;">Atualizar Endereço</h2>
<hr>
{%- for mensagem in get_flashed_messages()  %}
	<div class="alert alert-danger">
		{{mensagem}}
	</div>
{%- endfor %}

<form action="{{url_for('atualiza_endereco', id=endereco.id)}}" method="POST" class="form-control">
	<label>Rua</label>
	<input class="form-control" type="text" name="rua" value="{{endereco.rua}}" required>
	<label>Número</label>
	<input class="form-control" type="text" name="numero" value="{{endereco.numero}}" required >
	<label>Complemento</label>
	<textarea class="form-control" type="text" name="complemento" required>{{endereco.complemento}}</textarea>
	<label>CEP</label>
	<input class="form-control" type="text" name="cep" value="{{endereco.cep}}" required >
	<label>Bairro</label>
	<input class="form-control" type="text" name="bairro" value="{{endereco.bairro}}" required>
	<label>Cidade</label>
	<input class="form-control" type="text" name="cidade" value="{{endereco.cidade}}" required>
	<label>Estado</label>
	<input class="form-control" type="text" name="estado" value="{{endereco.estado}}" required>
	<button class="btn btn-success">Atualizar</button>
</form>
{% endblock conteudo %}