{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center;">Atualizar Cliente</h2>
<hr>
{%- for mensagem in get_flashed_messages()  %}
	<div class="alert alert-danger">
		{{mensagem}}
	</div>
{%- endfor %}

<form action="{{url_for('atualiza_cliente', id=cliente.id)}}" method="POST" class="form-control">
	<label>Nome</label>
	<input class="form-control" type="text" name="nome" value="{{cliente.nome}}" required>
	<label>Email</label>
	<textarea class="form-control" type="text" name="email" required>{{cliente.email}}</textarea>
	<label>CPF</label>
	<input class="form-control" type="number" name="cpf" value="{{cliente.cpf}}" required >
	<label>Telefone</label>
	<input class="form-control" type="number" name="telefone" value="{{cliente.cpf}}" required >

	<button class="btn btn-success">Atualizar</button>
</form>
{% endblock conteudo %}