{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center;">Lista de clientes</h2>
<hr>
<a href="{{url_for('cria_cliente')}}" class="btn btn-secondary">Adicionar cliente</a>
<br><br>
<table class="table table-bordered table-hover">
	<thead class="table-dark">
	    <tr>
	      <th scope="col">Id</th>
	      <th scope="col">Nome</th>
	      <th scope="col">Email</th>
            <th scope="col">CPF</th>
            <th scope="col">Telefone</th>

	    </tr>
  </thead>
  <tbody>
	{% for cliente in clientes.items %}
		<tr>
			<td>{{cliente.id}}</td>
			<td>{{cliente.nome}}</td>
			<td>{{cliente.email}}</td>
			<td>{{cliente.cpf}}</td>
            <td>{{cliente.telefone}}</td>

			<td>
				<a href="{{cliente.id}}/atualiza_cliente" class="btn btn-secondary btn-xs">Editar</a>
				<a href="{{cliente.id}}/remove_cliente" onclick="return confirm('Deseja excluir esse registro?')" class="btn btn-danger btn-xs">Excluir</a>
			</td>
		</tr>

	{% endfor %}
	
  </tbody>
</table>
{% if clientes.has_prev %}
	<a href="{{url_for('lista_clientes', page=clientes.prev_num)}}">Clientes Anteriores</a>
{% else %}
	Clientes listados
{% endif %}
{% if clientes.has_next %}
	<a href="{{url_for('lista_clientes', page=clientes.next_num)}}">Próximos Usuários</a>
{% else %}
	Clientes listados
{% endif %}
{% endblock conteudo %}