{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center;">Lista de enderecos</h2>
<hr>
<a href="{{url_for('cria_endereco')}}" class="btn btn-secondary">Adicionar enderecos</a>
<br><br>
<table class="table table-bordered table-hover">
	<thead class="table-dark">
	    <tr>
	      <th scope="col">Id</th>
	      <th scope="col">Rua</th>
	      <th scope="col">Numero</th>
			<th scope="col">Complemento</th>
            <th scope="col">CEP</th>
            <th scope="col">Bairro</th>
            <th scope="col">Cidade</th>
            <th scope="col">Estado</th>
	    </tr>
  </thead>
  <tbody>
	{% for endereco in enderecos.items %}
		<tr>
			<td>{{endereco.id}}</td>
            <td>{{endereco.rua}}</td>
			<td>{{endereco.numero}}</td>
            <td>{{endereco.complemento}}</td>
            <td>{{endereco.cep}}</td>
            <td>{{endereco.bairro}}</td>
            <td>{{endereco.cidade}}</td>
            <td>{{endereco.estado}}</td>
			<td>
				<a href="{{endereco.id}}/atualiza_endereco" class="btn btn-secondary btn-xs">Editar</a>
				<a href="{{endereco.id}}/remove_endereco" onclick="return confirm('Deseja excluir esse registro?')" class="btn btn-danger btn-xs">Excluir</a>
			</td>
		</tr>

	{% endfor %}
	
  </tbody>
</table>
{% if enderecos.has_prev %}
	<a href="{{url_for('lista_enderecos', page=enderecos.prev_num)}}">Endereços Anteriores</a>
{% else %}
	enderecos listados
{% endif %}
{% if enderecos.has_next %}
	<a href="{{url_for('lista_enderecos', page=enderecos.next_num)}}">Próximos endereços</a>
{% else %}
	endereços listados
{% endif %}
{% endblock conteudo %}