{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center;">Adicionar Cliente</h2>
<hr>
{%- for mensagem in get_flashed_messages()  %}
	<div class="alert alert-danger">
		{{mensagem}}
	</div>
{%- endfor %}
<form action="{{url_for('cria_cliente')}}" method="POST" class="form-control">
	<label>Nome</label>
	<input class="form-control" type="text" name="nome" placeholder="Nome do cliente" required>
	<label>Email</label>
	<input class="form-control" type="text" name="email" placeholder="Email" required>
	<label>CPF</label>
	<input class="form-control" type="number" name="cpf" placeholder="cpf" required >
    <label>Telefone</label>
	<input class="form-control" type="number" name="telefone" placeholder="telfone" required >

	<button class="btn btn-success">Adicionar</button>
</form>
{% endblock conteudo %}